<% title_tag t("menu.wiki") %>

<div class="ui vertical stripe basic segment">
  <div class="ui stackable grid container"
    <%= render 'sidebar' %>
    <% if !turbolinks_app? %>
      <div class="twelve wide column">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= sanitize_markdown @page.boty_html %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
