<% title_tag t("menu.wiki") %>

<div class="ui vertical stripe basic segment">
  <div class="ui stackable grid container">
    <%= render 'sidebar' %>
    <% if !turbolinks_app? %>
      <div class="twelve wide column">
        <%= sanitize_markdown @page.body_html %>
      </div>
    <% end %>
  </div>
</div>
